/* html, body {
  height: 100%;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: red;
  &__element {
    background-color: green;
    color: white;
    margin: 0 1rem 0 1rem;
    padding: 1rem;
    &--modifier {
      background-color: blue;
    }
  }
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.topMovies{
  position: relative;
  width: 411px;
  height: 731px;
  margin: 0 auto;

}

.header {
  position: absolute;
  width: 100%;
  &__nav {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    &__ul {
      padding: 10px;
      display: flex;
      list-style: none;
      align-items: center;
      &__li__mid {
        position: absolute;
        right: 28px;
      }
      &__li__last{
        position: absolute;
        right: 7px;
        font-style: normal;
        font-size: 18px;
        line-height: 18px;
        font-weight: bolder;
        color: #dfdfdf;
      }
    
    }
  }
  &__footer {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    &__title{
      margin: 0 auto;
      padding: 0 12px;
      font-style: normal;
      font-size: 20px;
      font-weight: 500; 
      line-height: 24px;
      color: #dfdfdf;
    }
  }
}
.number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dfdfdf;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 700;

}
.main{
  position: relative;
  width: 411px;
  height: 731px;
  z-index: -2;
  top: 0;

  &__number{
    right: 10px;
    top: 118px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 30px;
    
  
  }
  &__sectionList {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 302px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%,rgba(0, 0, 0, 0.40) 5%, rgb(0, 0, 0.9) 40%);
    &__ul{
      display: flex;
      margin-top: 97px;
      margin-left: 17px;
      gap: 25px;
      list-style: none;
      
      &__li{
        position: relative;
        max-width: 140px;
        max-height: 180px;
        border-radius: 1px;
    
        &__number{
          position: absolute;
          top:0;
          right: 0;
          width: 40px;
          height: 40px;
          font-size: 26px;
          line-height: 24.38px;
          z-index: 2;
        }

      }
  
 
      
    }
  }
  &__button{
    width: 60px;
    height: 60px;
    background-color: #dfdfdf;
    position: absolute;
    bottom: 13px;
    right: 11px;
    transform: scaleX(-1);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 5;
  }
}

.image {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  z-index: 0;
  
}